.redes{
    width: 100%;
    height: 80px;
}

.redes__lista{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.redes__link{
    text-decoration: none;
    color: var(--color-menu);
    font-size: 1.80rem;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    &:hover{
        color: var(--color-fuente-enlace);
    }
}

@media screen and (min-width: 780px) {
    .redes{
        width: 350px
        }
}